.coin {
    background: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
     
  }
  
  .items {
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
  }
  
  .head {
    display: flex;
  }
  
  .logo {
    margin-right: 20px;
  }
  
  .details {
    display: flex;
    align-items: center;
  }
  
  .items h3 {
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #0B1426;
    margin: 0; /* Remove default margin */
  }
  
  .items span {
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #5D667B;
  }
  
  .rank {
    background: #768396;
    width: 80px;
    height: 40px;
    border-radius: 8px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: 30px;
  }
  
  .rank span {
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #FFFFFF;
  }
  
  .chart {
    margin-top: 10px; /* Adjust margin as needed */
  }
  
  .total{
    display: flex;
    flex-direction: column;
  }

  .Price {
    display: flex;
    align-items: center; /* Align items vertically */
  }
  
  .Price p {
    margin-right: 10px; /* Adjust the gap between dollar value and change */
  }
  
  .change {
    font-size: 16px; /* Adjust font size as needed */
    margin-left: 70px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: center;
  }
  
  .positive {
    color: green;
  }
  
  .negative {
    color: red;
  }
  
  .dollar {
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #0B1426;
    margin-bottom: 3px;
    margin-top: 0;
  }
  
  .inr{
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    margin-top: 0px;
    color: #0B1426;

  }

  .hour{
    font-family: 'Inter', sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #768396;

  }
  .chart{
    
    height: 450px;
    margin: 10px;
  }