.token{
    background: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.items{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.items h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
}

.items p:nth-last-of-type(2){
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    color: #1D1D1D;


}

.items p:nth-last-of-type(1){
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #3E424A;
}