.slides {
    position: relative;
    overflow: hidden;
}

.slides-container {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    display: flex;
    align-items: center;
    margin-right: 10px;
    border-radius: 8px;
}

.slide:last-child {
    margin-right: 0;
}

.image-container {
    margin: 5px;
    margin-top: 2px;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    background-color: #FFFFFF;
    border: none;
    color: #333;
    font-size: 24px;
    cursor: pointer;
    border-radius: 50%; /* Make the border-radius 50% to create a round button */
    width: 40px; /* Adjust width and height as needed */
    height: 40px;
    opacity: 0; /* Initially hide the buttons */
    transition: opacity 0.3s ease; /* Add transition effect */
}

.prev-btn {
    left: 0;
}

.next-btn {
    right: 0;
}

.slides:hover .prev-btn,
.slides:hover .next-btn {
    opacity: 1; /* Show buttons on hover */
}

.slide .content-container p:first-child {
    font-family: "SF Pro Text", sans-serif;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0em;
    text-align: left;
    color: #191C1F;
}

.slide .content-container p:not(:first-child) {
    font-family: "SF Pro Text", sans-serif;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
    color: #3E5765;
}

.slide-content {
    padding: 20px; /* Adjust the padding as needed */
    font-family: 'SF Pro Text', sans-serif;
}
