.sentiment{
    background: #FFFFFF;
    padding: 10px;
    border-radius: 8px;
    margin-top: 10px;
}

.items{
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

.items p{
    margin-left: 5px;
}

.items h3{
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;

}
